body{
    background-image:url("../img/nature.jpg") ;
    
}
h1{
    color: red;
    text-align: center;
    font-weight: 400;
}
h2{
    text-decoration: underline;
    color: seagreen;
    text-align: center;
}
p{
    font-weight: bold;
    font-size: 12px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: seashell;
}
img{
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}
#imagen{
    width: 50%;
    float: right;
    margin-top: 30px;
    position: relative;
}
#contenido{
    width: 45%;
    margin-bottom: 20px;
    margin-top: 30px;
    float: left;
    position: fixed;
    color: rgb(247, 242, 241);
}
